<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
    <link rel="stylesheet" href="/static/themes/about.css">
  </head>
  <h1>About us</h1>
 <div>
  <h3>What we do here at PF?</h3>
  <body>
    <p>Welcome to Plan Finder! Our goal at PF is to help kill your boredem by finding events in your area that are availible to you. Throughout our sight you will find various event you can participate in when your feeling bored.</p>
  </body>
 </div>
 <div>
   <h3>How do I use it?</h3>
   <body>
    <p>If your're wondering how it all works its quite simple! You input ur location and activities you like to do then we match you with an activity for you to participate in that should match your interest.</p>
  </body>
 </div>
 <div>
    <h3>What if we can't find you an event you're comfortable with?</h3>
    <body>
    <p>Although sometimes complications may arise where we cannot find you an event or activity taking place near you that falls under your preferred activities. To solve this we offer something outside of your comfort zone in the hopes forn you to try something new.</p>
    </body>
 </div>
</html>
