<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="/static/themes/profile.css">
  </head>
  <body>
    <div class="logo">
     <img id="pic" src="./static/themes/logo.jpg"/>
     <p class="spacer"></p>
    <nav>
      <a href="/home">Home</a>
      <a href="/about">About Us</a>
      <a href="/view_profile">Profile</a>
      <a href="/edit_profile">Edit Profile</a>
    </nav>
    </div>
    <h1>This is where you edit your profile!</h1>
    <button onclick="goBack()">Go Back</button>
    <script>
    function goBack() {
        window.history.back();
    }
    </script>
    <section>
    <form method="post"> <!-- START: Winnie did this -->
      <br>
    <div>
      Username: <br>
      <input type="text" name="username" placeholder="username"/>
    </div>
    <br>
    <div>
      Bio: <br>
      <TEXTAREA type = "text" name="bio" ROWS="6" COLS="40"></TEXTAREA>
    </div>
    <br>
    <div>
      Place you want to go: <br>
      <TEXTAREA type = "text" name="place" ROWS="6" COLS="40"></TEXTAREA>
    <h2> Private Information </h2>
    <div>
      Email: <br>
      <input type ="text" name = "email" placeholder= "email" />
    </div>
    <br>
    <div>
      Phone number: <br>
      <input type ="text" name = "phone_number" placeholder= "Phone number"/>
    </div>
    <br>
    <div>
      Location: <br>
      <input type ="text" name = "location" placeholder="location" />
    </div>
    <br>
    <button type="submit">Save</button>
  </form> <!-- END: Winnie did this -->
</section>
  </body>
</html>
