<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Edit Profile</title>
  </head>
  <body>
    <a href = "{{logout_url}}">Sign out</a>
    <h1>This is where you edit your profile!</h1>
    <form method="post"> <!-- START: Winnie did this -->
    <div>
      Username: <br>
      <input type="text" name="username" placeholder="username"/>
    </div>
    <div>
      Bio: <br>
      <input type="text" name="bio" placeholder="Tell me something about you!"/>
    </div>

    <h2> Private Information </h2>
    <div>
      Email: <input type ="text" name = "email" placeholder= "email" />
    </div>
    <div>
      Phone number: <input type ="text" name = "phone_number" placeholder= "Phone number"/>
    </div>
    <div>
      Location: <input type ="text" name = "location" placeholder="location" />
    </div>

    <button type="submit">Save</button>
  </form> <!-- END: Winnie did this -->
  </body>
</html>
