<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Plan Finder</title>
    <link rel="stylesheet" href="/static/themes/home.css">
  </head>
  <body>
    <div class="logo">
     <img id="pic" src="./static/themes/logo.jpg"/>
    </div>
    {% if user %} <!-- START: Winnie did this -->
      <h1> Welcome, {{nickname}}! </h1>
      <br>
      <a href = "{{logout_url}}">Log out</a>
    {% else %}
      <h1> Welcome! </h1>
      <br>
      <a href = "{{login_url}}">Log in</a>
    {% endif %} <!-- END: Winnie did this -->
    <div>
     <p>Welcome to our Plan Finder! We are here to solve all of your boredom needs!</p>
   </div>
   <a href="/about">About Us</a>
   <script src="/static/scripts/home.js"></script>
  </body>
</html>
