<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Plan Finder</title>
    <link rel="stylesheet" href="/static/themes/home.css">
  </head>
  <body>
    <div class="logo">
     <img id="pic" src="./static/themes/logo.jpg"/>
     <p class="spacer"></p>
     <nav>
       <a href="/about">About Us</a>
       {% if user %} <!-- START: Winnie did this -->
         <a href = "{{logout_url}}">Sign out</a>
       {% else %}
         <a href = "{{login_url}}">Sign in</a>
       {% endif %} <!-- END: Winnie did this -->
     </nav>
    </div>
    {% if user %} <!-- START: Winnie did this -->
      <h1> Welcome, {{nickname}}!</h1>
    {% else %}
      <h1> Welcome to our Plan Finder! </h1>
    {% endif %} <!-- END: Winnie did this -->
    <div>
     <p>We are here to solve all of your boredom needs!</p>
   </div>
   <script src="/static/scripts/home.js"></script>
  </body>
</html>
