<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>List of ppl</title>
    <link rel="stylesheet" href="/static/themes/home.css">
    <link rel="stylesheet" href="/static/themes/people.css">
  </head>
  <body>
    <div class="logo">
     <img id="pic" src="./static/themes/logo.jpg"/>
     <p class="spacer"></p>
     <nav>
       <a href="/home">Home</a>
       <a href="/about">About Us</a>
       <a href="/view_profile">Profile</a>
       <a href = "{{logout_url}}">Sign out</a>
     </nav>
   </div>
   <div class="table">
   <table>
     <tr>
       <th>People</th>
       <th>Places</th>
       <th>Profile Links</th>
     </tr>
     {% for user in users%}
        <tr>
          <td>{{user.username}}</td>
          <td>{{user.place}}</td>
          <td><a class="links" href="/view_profile?email={{user.email}}">View Profile</a></td>
        </tr>
      {% endfor %}
   </table>
   </div>
   <!-- <div class = "row">
     <div class = "column">
        <h1>People</h1>
        {% for user in users %}
           <p>{{user.username}}</p>
            <br>
        {% endfor %}
     </div>
     <div class = "column">
       <h1>Places</h1>
       {% for user in users %}
          <p>{{user.place}}</p>
          <br>
       {% endfor %}
     </div>
     <div class = "column">
       <h1>Profile Links</h1>
       {% for user in users %}
          <p class="links"><a href="/view_profile?email={{user.email}}">View Profile</a></p>
        <br>
       {% endfor %}
     </div>
   </div> -->
   <!-- <div class="headings">
     <h1>Friends</h1>
     <h2></h2>
     <h1>People Near You</h1> -->
  </body>
</html>
