<!-- coded by Christian M-->

<html>
  <head>
    <script src="/static/scripts/test.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnW_FyhuYYE4gpmYiUCILrfmSBRjlkWzQ&libraries=places&callback=initAutocomplete"
         async defer></script>
    <link rel="stylesheet" href="/static/themes/places.css">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Places Search Box</title>
    <link rel="stylesheet" href="/static/themes/home.css">

  </head>
  <body>
    <div class="logo">
     <img id="pic" src="./static/themes/logo.jpg"/>
     <p class="spacer"></p>
     <nav>
       <a href="/home">Home</a>
       <a href="/about">About Us</a>
       <a href="/view_profile">Profile</a>
       <a href = "{{logout_url}}">Sign out</a>
     </nav>
   </div>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div class="center-div">
    <div id="map"></div></div>
  </body>
  <main class="container">
    <div id="info" class="info"></div>
</main>
</html>
