<!-- coded by Christian M-->

<html>
  <head>
    <link rel="stylesheet" href="/static/themes/places.css">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Places Search Box</title>
    <link rel="stylesheet" href="/static/themes/home.css">

  </head>
  <body>
    <div class="logo">
     <img id="pic" src="./static/themes/logo.jpg"/>
     <p class="spacer"></p>
     <nav>
       <a href="/home">Home</a>
       <a href="/about">About Us</a>
       <a href="/view_profile">Profile</a>
       <a href = "{{logout_url}}">Sign out</a>
     </nav>
   </div>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div class="center-div">
    <div id="map"></div></div>
    <script src="/static/scripts/places.js"></script>
      <!-- function initAutocomplete() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 40.7128, lng: -74.0060},
          zoom: 15,
          mapTypeId: 'roadmap'
        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });

        var markers = [];

        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();
          console.log("Places returned");

          if (places.length == 0) {
            return;
          }

          // Clear out the old markers.
          markers.forEach(function(marker) {
            marker.setMap(null);
          });
          markers = [];

          // For each place, get the icon, name and location.
          var bounds = new google.maps.LatLngBounds();
          places.forEach(function(place) {
            if (!place.geometry) {
              console.log("Returned place contains no geometry");
              return;
            }
            var image = {
              url: place.icon,
              size: new google.maps.Size(71, 71),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(17, 34),
              scaledSize: new google.maps.Size(25, 25)
            };


            // Create a marker for each place.
            markers.push(new google.maps.Marker({
              map: map,
              // icon: icon
              title: place.name,
              position: place.geometry.location
            }));

            if (place.geometry.viewport) {
              // Only geocodes have viewport.
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });

        });
      } -->

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnW_FyhuYYE4gpmYiUCILrfmSBRjlkWzQ&libraries=places&callback=initAutocomplete"
         async defer></script>
  </body>
</html>
