body{
  background-color:  	#AFEEEE;
}
h1{
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
h2{
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
p {
  color: 		#800080;
  text-align: center;
  font-size: 25px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
