body{
  background-image:  url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/calm-reflective-water-background_bjnehswwh__F0000.png");
}
h1{
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
h3{
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
p {
  text-align: center;
  font-size: 25px;
  font-family: "Trebuchet MS", Helvetica, sans-serif
}
