body {
  background-image: url("https://i.pinimg.com/736x/4d/48/23/4d482327212d9a4c116af9f95a3f063c--pretty-iphone-wallpapers-backgrounds-wallpapers.jpg");
}

h1 {
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;

}

p {
  font-size: 25px
}

a {
  font-size: 30px
}

.logo {
  display: flex;
  justify-content: center;

}

#pic {
  height: 200px;

}
