body {
  background-image: url("http://kb4images.com/images/mint-green-wallpaper/35885224-mint-green-wallpaper.jpg");
}

h1 {
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
p {
  font-size: 30px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.logo {

  display: flex;
  flex-direction: column;
  align-items: center;

}
#pic {

  height: 150px;
  width: 200px;
}
a {
  background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}
/* form {


} */
input[type=text] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
textarea {
    width: 25%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
